body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
header{
    width: 100%;
}
ul{
    list-style: none;
}
#nav_bar{
    float: right;
}
#nav_bar li{
    display: inline-block;
    padding: 8px;
}
#nav_bar #sign_in{
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
    background-color:blue;
}
a{
    text-decoration: none;
    color:inherit;
}
li.nav-links a:hover {
    text-decoration: underline;
}
#sign_in:hover{
    box-shadow: 1px 1px 5px #999;
}
#sign_in{
    color: white;
}
.text{
    width: 90%;
    height: 20px;
}
.google{
    text-align: center;
    display: block;
    margin: auto;
    clear:both;
    padding-top: 112px;
    padding-bottom: 20px;
}
.form{
    text-align: center;
}
#txtsearch{
    width:350px;
    line-height:32px;
    padding:10px 10px;
    border-radius: 40px;
    font-size: 20px;

}
.form #txtsearch{
    padding:0 8px;
}
.buttons{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 250px;
}
footer{
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
    position:fixed;
    bottom: 0;
    width:100%;
    padding-bottom: 0;
}
footer ul li{
    display: inline;
    font-size: 14px;
    padding:13px;
    color:blue;
}
footer ul{
    float: left;
    padding:1px;
}
footer ul a:hover{
    text-decoration: underline;
}
.footerright{
    float:right;
}